
@model V2Capstone.Models.AnalyticsViewModel

@{
    Layout = null;
}

<style>
    .spacer {
        padding: 100px;
    }


</style>



<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.student.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student.GradeLevel)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeLevel)
                    </td>
                    <td>
                        <button type="button" id="btn" value="@item.Id">Select</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="spacer"></div>

    <div id="grades"></div>

</body>
</html>



<script type="text/javascript">

        $(document).ready(function () {
            $("#btn").click(function () {
                var selectedid = $(this).val();
                $.ajax({
                    type: 'GET',
                    data: { "id": selectedid },
                    url: "/ParentModels/CompleteGrade",
                    success: function (data) {
                        $("#grades").html(data);
                    }
                });
            });
        });

    </script>

@*<script type="text/javascript">
    function testID(value) {
        var formId = {
            'test_Id': value
        };
            alert(formId);
            $.ajax({
                type: 'GET',
                data: formId,
                url: "/ParentModels/CompleteGrade",
                success: function (data) {
                    $("#grades").html(data);
                }
            });

</script>*@
