@model V2Capstone.Models.AnalyticsViewModel

@{
    
    Layout = null;
}

<style>


</style>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendNotification">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="alert.Message" class="control-label"></label>
                <input asp-for="alert.Message" class="form-control" />
                <span asp-validation-for="alert.Message" class="text-danger"></span>
            </div>
            <div>
                @Html.HiddenFor(m => m.teacher.FirstName)
                @Html.HiddenFor(m => m.teacher.Id)
                @Html.HiddenFor(m => m.teacher.LastName)
                @Html.HiddenFor(m => m.alert.Message)
                @Html.HiddenFor(m => m.teacher.TeacherId)
                @Html.HiddenFor(m => m.teacher.User)
                @Html.HiddenFor(m => m.Parents)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



